.header {
    height: 80px;
  
    background-color: rgba(5, 17, 180, 0.76);
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 140px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Abril Fatface', cursive;
  }

  body{
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;

  }

  #cityCol{
padding:30px;
background-image: url("../img/2.jpg");
background-size: cover;
background-position: 20%;
color: white;

/* background-color: cadetblue; */
/* margin: 10px; */

  }
 

  .card{
    padding:15px;
    margin-left:15px;

  }

  .col h2{
    padding-left:300px;

  }

  #cityViewed{
      background-color: rgb(114, 109, 110);
      cursor: pointer;
      border: none;
      color: white;
      border-radius: 20px;
   
  }

  #cityViewed :hover{
      background-color: yellow;
  }
